# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__
+ List popular languages and libraries for Data Science
+ List popular development environments for Data Science
+ Give examples of how to evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia

Some of the libraries commonly used by Data Scientists include:
1. Pandas
2. Scikit-learn
3. Ggplot2

| Data Science Tools
| ---
| Jupyter
| RStudio
| Apache Zeppelin

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Marcos Paiva